<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.document.demo.mapper.DocumentMapper">

    <resultMap id="DocumentResultMap" type="com.document.demo.bean.Document">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="document_number" jdbcType="VARCHAR" property="documentNumber" />
        <result column="file_number" jdbcType="VARCHAR" property="filerNumber" />
        <result column="box_number" jdbcType="VARCHAR" property="boxNumber" />
        <result column="folder_number" jdbcType="VARCHAR" property="folderNumber" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="time" jdbcType="VARCHAR" property="time" />
        <result column="effective_time" jdbcType="VARCHAR" property="effectiveTime" />
        <result column="security_level" jdbcType="VARCHAR" property="securityLevel" />
        <result column="responsibility" jdbcType="VARCHAR" property="responsibility" />
        <result column="remarks" jdbcType="VARCHAR" property="remarks" />
        <result column="year" jdbcType="VARCHAR" property="year" />
        <result column="page" jdbcType="VARCHAR" property="page" />
    </resultMap>

    <select id="queryAll" resultType="com.document.demo.bean.Document">
        SELECT  id,document_number,file_number,box_number,folder_number,name,time,effective_time,
        security_level,responsibility,remarks,year,page FROM document
    </select>

    <select id="queryByName" resultType="com.document.demo.bean.Document">
        SELECT id,document_number,file_number,box_number,folder_number,name,time,effective_time,
        security_level,responsibility,remarks,year,page FROM document where name like '%${name}%'
    </select>

    <delete id="deleteByName" parameterType="java.lang.String" >
        DELETE FROM document where name = #{name}
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.document.demo.bean.Document"  useGeneratedKeys="true">
  	INSERT INTO document(id,document_number,file_number,
                box_number,folder_number,name,
                time,effective_time,security_level,responsibility,
                remarks,year,page)
  	VALUES(#{id},#{documentNumber},#{fileNumber},#{
                boxNumber},#{folderNumber},#{name},#{
                time},#{effectiveTime},#{securityLevel},#{responsibility},#{
                remarks},#{year},#{page})
  </insert>

    <update id="updateById" keyColumn="id" keyProperty="id" parameterType="com.document.demo.bean.Document">
        UPDATE document SET
        document_number=#{documentNumber},
        file_number = #{fileNumber},
         box_number=#{boxNumber},
         folder_number=#{folderNumber},
         name=#{name},
         time=#{time},
         effective_time=#{effectiveTime},
         security_level=#{securityLevel},
         responsibility=#{responsibility},
        remarks=#{ remarks},
        year=#{year},
        page=#{page},
        WHERE id = #{id}
    </update>

</mapper>

